//<script>
$("#sigma-example-parent").bind("mouseup",function(){
	if(nodes != null){
		if(function_type == NORMAL){
			$.ajax({
				url: "/data/user.json",
				type: "POST",
				data: {
					user_id: node_id, // if user_id == 0 then get session user
					code : 4
				},
				success: function(data) {
					user = data.user
					set_dialog_html("Information", user, data.is_function_possible, data.limit_point, data.limit_node_cnt)
				}
			});

		}else if(function_type == BETRAY){
			function_type = NORMAL;
			$.ajax({
				url: "/data/user.json",
				type: "POST",
				data: {
					user_id: node_id, // if user_id == 0 then get session user
					code : 4
				},
				success: function(data) {
					user = data.user
					set_dialog_html("Betray", user, data.is_function_possible, data.limit_point, data.limit_node_cnt)
				}
			});

		}else if(function_type == SEIZE){
			function_type = NORMAL;
			$.ajax({
				url: "/data/user.json",
				type: "POST",
				data: {
					user_id: node_id, // if user_id == 0 then get session user
					code : 5
				},
				success: function(data) {
					user = data.user
					set_dialog_html("Seize", user, data.is_function_possible, data.limit_point, data.limit_node_cnt)
				}
			});
		}
	}
});

$("#independance").click(function(){
	$.ajax({
		url: "/data/user.json",
		type: "POST",
		data: {
			user_id: 0, // if user_id == 0 then get session user
			code : 3
		},
		success: function(data) {
			user = data.user
			set_dialog_html("Independance", user, data.is_function_possible, data.limit_point, data.limit_node_cnt)
		}
	});

});
function set_dialog_html(function_type, user, is_possible, limit_point, limit_node_cnt){
	$("#dialog_title").text(function_type);
	$("#dialog_name").text(user.username);
	$("#dialog_banner").text(user.banner);
	$("#dialog_point").text(user.point);
	$("#dialog_image").attr("src",user.picture);
	var html 
	if(function_type == "Information"){

	}else{
		if(is_possible){
			html += '<h3>Do you want independance?</h3>' 
						+	'<h4>' + function_type + ' condition :<br>'
						+ 'Point > '+ limit_point +'(Point will be deducted.)<br>'
						+ 'Children Count > '+ limit_node_cnt +'</h4>'
						+ '<button onclick=\'dialog_yes("' + function_type.toLowerCase() + '")\'>Yes</button>'
						+ '<button onclick=\'dialog_no("'+ function_type.toLowerCase() + '")\'>No</button>';
		}else{
			html = '<h3>You CANNOT ' + function_type + '!</h3>'
						+ '<h4>' + function_type + ' condition :<br>'
						+ 'Point > '+ limit_point +'<br>'
						+ 'Children Count > '+ limit_node_cnt +'</h4>';
		}
		$("#dialog_button").html(html)
		$("#dialog").show();
	}
}


$("#betray").click(function(){
		function_type = BETRAY;
		alert("select node")
		});
$("#seize").click(function(){
		function_type = SEIZE;
		alert("select node")
});


