$("#sigma-example-parent").bind("mouseup",function(){
	if(nodes != null){
		if(function_type == BETRAY){
			$.ajax({
				url: "/data/user.json",
				type: "POST",
				data: {
					user_id: node_id, // if user_id == 0 then get session user
					code : 4
				},
				success: function(data) {
					user = data.user
					if(data.is_function_possible){
						set_dialog_html("Independance")
					}
				}
			});

		}else if(function_type == SEIZE){
			$.ajax({
				url: "/data/user.json",
				type: "POST",
				data: {
					user_id: node_id, // if user_id == 0 then get session user
					code : 5
				},
				success: function(data) {
					user = data.user
					if(data.is_function_possible){
						set_dialog_html("Independance")
					}

				}
			});
		}
	}
});

$("#independance").click(function(){
	$.ajax({
		url: "/data/user.json",
		type: "POST",
		data: {
			user_id: 0, // if user_id == 0 then get session user
			code : 3
		},
		success: function(data) {
			user = data.user
			if(data.is_function_possible){
				set_dialog_html("Independance")
			}
		}
	});

});
function set_dialog_html(function_type, is_possible){

		$("#dialog_title").text(function_type);
		$("#dialog_name").text(user.username);
		$("#dialog_banner").text(user.banner);
		$("#dialog_point").text(user.point);
		$("#dialog_image").attr("src",user.picture);
		var html 
		if(is_possible){
			html = '<h3>Do you want independance?</h3>' +
				'<button onclick=\'dialog_yes("independance")\'>Yes</button>' +
				'<button onclick=\'dialog_no("independance")\'>No</button>';
		}else{
		html = '<h3>You canNOT</h3>' +
		}
			

		$("#dialog_button").html(html)
		$("#dialog").show();
}

$("#betray").click(function(){
		function_type = BETRAY;
		alert("select node")
		});
$("#seize").click(function(){
		function_type = SEIZE;
		alert("select node")
});


